version: 2.1
jobs:
  cicd:
    docker:
      - image: cimg/python:3.11.4
      - image: docker.mirror.hashicorp.services/hashicorp/terraform:light
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build application
          command: |
            echo "put code to build application here"
      - run:
          name: Publish Image
          command: |
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
            docker build -t file-management:latest .
            docker tag file-management:latest tuandanghtt1996/file-management-system:latest 
            docker push tuandanghtt1996/file-management-system:latest
#      - run:
#          name: Provision infra
#          command: |
#            cd ./infra
#            terraform init init -get=true -input=false -reconfigure -backend-config="bucket=test-terraform-state-527552148303" -backend-config="key=terraform.tfstate" -backend-config="region=ap-southeast-1"
#            terraform plan -out tfapply
#            terraform apply tfapply
#            cd ..
      - run:
          name: Install Ansible
          command: |
            python3 -m venv env
            . env/bin/activate
            pip3 install ansible
      - run:
          name: Add ssh public key
          command: |
            echo "$SSH_KEY" > $HOME/.ssh/id_rsa
      - run:
          name: Deploy application
          command: |
            cd ./ansible
            . env/bin/activate
            ansible-playbook -i hosts docker.yml
            ansible-playbook -i hosts mounting_ebs.yml
            ansible-playbook -i hosts deploy.yml
            cd ..
workflows:
  deploy-workflow:
    jobs:
      - cicd
